<div class="col col-md-2" >
    <ul class="nav flex-column">
{#        <li class="nav-item">#}
{#            <a class="nav-link active" aria-current="page" href="{{ path('admin.events.show') }}">{% trans from 'admin' %} nav.events {% endtrans %}</a>#}
{#        </li>#}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin.users.show') }}">{% trans from 'admin' %} nav.users {% endtrans %}</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin.products.show') }}">{% trans from 'admin' %} nav.products {% endtrans %}</a>
        </li>


{#        <li class="nav-item">#}
{#            <a class="nav-link " href="{{ path('admin.catalogs.show') }}" tabindex="-1" aria-disabled="true">{% trans from 'admin' %} nav.catalogs {% endtrans %}</a>#}
{#        </li>#}

    </ul>
</div>